/*캘린더 CSS시작*/
body{
  background-image: url("https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1172&q=80");
  background-position: center;
  background-size: cover;
  height: 1000px;
}
body:before{
  content: "";
  display: block;
  width: 100%;
  height: 1000px;
  position:absolute;
  top:0;
  left:0;
  background-color: rgba(0,0,0,0.3); }



section.calAndText{

}

section.calAndText .container{
  background-color: rgba(255,255,255, 0.8);
  border-radius: 10px;
  margin-top: 70px;
  padding: 0px 15px 0px 15px;
}


section.calAndText .other {
  width: 100%;
  height: 100%;
  border-color: rgba(255,255,255,0);
  background-color: rgba(255,255,255,0);
  text-align: left;
  flex-direction: column;
}

section.calAndText .this{

  width: 100%;
  height: 100%;
  border-color: rgba(255,255,255,0);
  background-color: rgba(255,255,255,0.3);
  text-align: left;
  flex-direction: column;

}

section.calAndText .this:hover{
  background-color: rgba(255,255,255,0.1);
  /*transition: 0.3s;*/
}

#calenderNote{
  width: 100%;
  background-color: rgba(255,255,255,0.4);
}

section.calAndText .calendar {
  margin: 30px 0 30px 0;
}


section.calAndText .noteBox{
  margin-top: 115px;
}

section.calAndText .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.calAndText .header .select-calender{
  flex-grow: 1;
}



section.calAndText .year-month {
  font-size: 35px;
}

section.calAndText .nav {
  display: flex;
  border: 1px solid #333333;
  border-radius: 5px;
}

section.calAndText .nav-btn {
  width: 28px;
  height: 30px;
  border: none;
  font-size: 16px;
  line-height: 34px;
  background-color: transparent;
  cursor: pointer;
}

section.calAndText .go-today {
  width: 75px;
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
}

section.calAndText .days {
  display: flex;
  margin: 25px 0 10px;
}

section.calAndText .day {
  width: calc(100% / 7);
  text-align: center;
}

section.calAndText .dates {
  display: flex;
  flex-flow: row wrap;
  height: 400px;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
}

section.calAndText .date {
  width: calc(100% / 7);
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
}

section.calAndText .date .date-on-text{
  font-size: 70%;
  overflow: scroll;
}

#btn-memo-save {
  width: 100%;
  border : 2px solid #5c9f24;
  background-color: rgba(0,0,0, 0.7);
  transition: 0.3s;
}

#btn-memo-save:hover{
  background-color: #5c9f24;
}


.btn-select-link{
  border : 2px solid #5c9f24;
  background-color: rgba(0,0,0, 0.7);
  transition: 0.3s;
}

.btn-select-link:hover{
  border : 2px solid #5c9f24;
  background-color: #5c9f24;
}

.btn-select-link:focus{
  border : 2px solid #5c9f24;
  background-color: #5c9f24;
}


section.calAndText .day:nth-child(7n + 1),
section.calAndText .date:nth-child(7n + 1) {
  color: #D13E3E;
}

section.calAndText .day:nth-child(7n),
section.calAndText .date:nth-child(7n) {
  color: #396EE2;
}
/*캘린더 CSS 끝*/