
/* -----------------------------------------------------*/
/*                날씨, 타이머 부분                         */
/*------------------------------------------------------*/

body {
    width: 100%;
    height:1000px;
    background-image: url("https://images.unsplash.com/photo-1434030216411-0b793f4b4173?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat:no-repeat ;
}



.place {
    font-weight: bold;
    font-size: 40px;
}

h1 {
    padding: 10px;

    text-align: center;

}

.body_wrapper {
    position: relative;
    margin-top: 80px;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
}

/*
* 날씨, 명언, 오디오화면
*/

.left_body {
    position: relative;
    margin-top: 5px;
    display: inline-block;
    width: 49.6%;
    border-right: 2px solid gray;
    height: 99%;
    overflow: hidden;
}

#weather_info {
    position: relative;
    overflow: hidden;
    color: #fff;
}

.weather-box {
    display: flex;
    flex-direction: row;
}

.weather-box .lbox {
    width: 50%;
    margin-left: 15%;
}

.weather-box .rbox {
    width: 50%;
    justify-content: center;
    align-self: center;
    margin-right: 10%;
}

section {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 60px;
    overflow: hidden;
    color: #fff;
    text-shadow: 1px 1px 1px #999;
}

figure img {
    width: 100px;
}

.icon {
    width: 20%;
}

.csky {
    font-size: 20px;

}

/*.fig {*/
/*    width: 100%;*/
/*    height: 100px;*/
/*    !*overflow: hidden;*!*/
/*    position: relative;*/
/*}*/

.temp {
    display: inline-block;
    position: relative;
    overflow: hidden;
    float: left;
    width: fit-content;
    font-size: 30px;
    font-weight: bolder;
}

.weather {
    overflow: hidden;
    text-align: right;
    margin-right: 60px;

    height: fit-content;
    font-size: 16px;
    font-weight: bold;
}

.wise {
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    align-content: center;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    width: 100%;
}

#wise-box {
    text-align: center;
}

.audio {
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 100px;
    margin: auto;
}

.audio audio:nth-child(1) {
    margin-bottom: 30px;
}

/*
* 날짜, 시간, 출퇴근 화면
*/
.checkin-img {
    margin-top: 13%;
}

.right_body {
    text-align: center;
    width: 49.6%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
}

.day {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.Clock {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 70px;
    color: white;
    font-weight: bold;
}

.checkin-box {
    margin: auto;
}

.timerBox {
    width: 50%;
    height: 200px;

    border: 1px solid gray;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqT0lwj4vVQCpojqpkBfEbr9m4qU16emsi4Q&usqp=CAU");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 8px black;

    margin: 8% 0 0 25%;
    padding-top: 4%;


}

.timerBox .time {
    font-size: 80px;


    text-shadow: 5px 5px #282828, 8px 8px #6e6e6e, 11px 11px #5a5a5a, 14px 14px #464646;
    margin: 0;
    text-align: center;


}

.timerBox.time.stopwatch {
    padding-top: 7%;
    border-radius: 15px 15px 15px 0;
    font-size: 50px;
    border: 3px solid #DCDCDC;
    color: #DCDCDC;
    font-weight: bold;

}


.btn:active {
    transform: translateY(3px);
}

.btn.green:active {
    border-bottom: 2px solid #696969;
}

/*@import url(https://fonts.googleapis.com/css?family=BenchNine:700);*/
.snip1535 {
    background-color: #778899;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: 'BenchNine', Arial, sans-serif;
    font-size: 1em;
    font-size: 22px;
    line-height: 1em;
    margin: 10% 40px;
    outline: none;
    padding: 12px 40px 10px;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
}

.snip1535:before,
.snip1535:after {
    border-color: transparent;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    border-style: solid;
    border-width: 0;
    content: "";
    height: 24px;
    position: absolute;
    width: 24px;
}

.snip1535:before {
    border-color: #778899;
    border-right-width: 2px;
    border-top-width: 2px;
    right: -5px;
    top: -5px;
}

.snip1535:after {
    border-bottom-width: 2px;
    border-color: #778899;
    border-left-width: 2px;
    bottom: -5px;
    left: -5px;
}

.snip1535:hover,
.snip1535.hover {
    background-color: #D3D3D3;
}

.snip1535:hover:before,
.snip1535.hover:before,
.snip1535:hover:after,
.snip1535.hover:after {
    height: 100%;
    width: 100%;
}