<!DOCTYPE html>
<html lang="kr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- Vendor CSS Files -->
    <link href="../static/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/css/style.css" rel="stylesheet">

    <title>삐삑! 출석했습니다</title>

    <script>
    </script>
</head>
<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="/">BBICHUL</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="/">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <!-- 나중에 기능이 추가될 경우 네비게이션바에 추가할 버튼 -->
<!--                <li><a href="blog.html">Blog</a></li>-->
<!--                <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>-->
<!--                    <ul>-->
<!--                        <li><a href="#">Drop Down 1</a></li>-->
<!--                        <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>-->
<!--                            <ul>-->
<!--                                <li><a href="#">Deep Drop Down 1</a></li>-->
<!--                                <li><a href="#">Deep Drop Down 2</a></li>-->
<!--                                <li><a href="#">Deep Drop Down 3</a></li>-->
<!--                                <li><a href="#">Deep Drop Down 4</a></li>-->
<!--                                <li><a href="#">Deep Drop Down 5</a></li>-->
<!--                            </ul>-->
<!--                        </li>-->
<!--                        <li><a href="#">Drop Down 2</a></li>-->
<!--                        <li><a href="#">Drop Down 3</a></li>-->
<!--                        <li><a href="#">Drop Down 4</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>-->
                <li><a id="login-button" class="getstarted scrollto" href="#" data-toggle="modal" data-target="#loginModal">Log In</a>
                </li>
                <li><a id="logout-button" onclick="log_out()" class="getstarted scrollto" href="#" data-toggle="modal" data-target="#loginModal">Log Out</a>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active" style="background: url(../static/img/slide/slide-1.jpg);">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated animate__fadeInDown">삐빅! 출석했습니다</h2>
                            <p class="animate__animated animate__fadeInUp">삐출과 함께라면 어디서든 출퇴근 시간 관리가 가능합니다. 매번 새롭게 바뀌는 명언을 읽으며 동기부여를 하고 집중에 도움을 주는 음악을 들으며 목표를 달성해보세요. 일주일 혹은 한달동안 얼마나 몰입했었는지 캘린더로 확인도 가능합니다!</p>
                            <div>
                                <a onclick="main_login_check()" class="btn-get-started animate__animated animate__fadeInUp scrollto">시작하기</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </div>
    </div>
</section><!-- End Hero -->

<main id="main">
        <!-- About-->
        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">About</h2>
                    <h3 class="section-subheading text-muted">삐출의 기능을 소개합니다.</h3>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="../static/img/about/1.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>소셜 로그인 기능</h4>
                                <h4 class="subheading">카카오톡으로 로그인이 가능합니다</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">곧 업데이트 될 기능입니다. 지금은 자체적으로 로그인이 가능합니다!</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="../static/img/about/2.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>출/퇴근 기능</h4>
                                <h4 class="subheading">클릭 한번으로 출/퇴근이 가능합니다</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">귀여운 아이콘과 함께 출/퇴근을 해보세요.</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="../static/img/about/3.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>명언 기능</h4>
                                <h4 class="subheading">공부 관련 명언이 매번 새롭게 나타납니다</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">매일 매일 새롭게 보여주는 명언을 통해 오늘의 목표를 다짐할 수 있습니다. 명언을 보며 오늘 하루도 불태워보세요! </p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="../static/img/about/4.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>시간 관리 기능</h4>
                                <h4 class="subheading">오늘 얼마나 공부했는지 알 수 있습니다</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">출근 버튼을 누르는 순간 시간 측정이 시작됩니다. 실시간으로 시간이 흐르는 걸 확인해보세요. 퇴근 버튼을 누르면 오늘 하루 얼마나 공부에 몰두했는지 알 수 있습니다!</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                더 많은
                                <br />
                                업데이트가
                                <br />
                                기다리고 있어요!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>BBICHUL</h3>
                        <p>
                            내일배움캠프 1기<br>
                            버스타조 프로젝트<br><br>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> info@example.com<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-auto footer-links">
                    <h4>Members</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://velog.io/@mindang">김민재</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://nani-empty.tistory.com/">김경우</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://velog.io/@shkim1199">김성훈</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://velog.io/@gigymi2005">최대환</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-auto footer-links">
                    <h4>Quick links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#about">About</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-auto footer-links">
                    <h4>OPEN API FAQ</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://openweathermap.org/faq">OpenWeatherMap</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-auto footer-links">
                    <h4>We Used</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://bootstrapmade.com/demo/Groovin/">bootstrapmade</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://startbootstrap.com/theme/agency">starbootstrap</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Groovin</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Log in Modal -->
<div class="modal fade" id="loginModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
aria-labelledby="logInModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
   <div class="modal-content">
       <div class="modal-header">
           <h5 class="modal-title" id="loginModalLabel">로그인</h5>
           <button id="login_close" type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">x</span>
           </button>
       </div>
       <div class="modal-body">
           <div class="input-box">
               <label>닉네임</label>
               <input type="text" id="login_nickname">
           </div>
           <div class="input-box">
               <label>비밀번호</label>
               <input type="password" id="login_password" placeholder="비밀번호를 입력해주세요.">
               <button type="button" id="login_password_eye">비밀번호 보기</button>
           </div>
       </div>
       <div class="modal-footer">
           <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signupModal" onclick="hide_nickname()">회원가입</button>
           <button type="button" class="btn btn-secondary" onclick="login()">확인</button>
       </div>
   </div>
</div>
</div>

<!-- sign up Modal -->
<div class="modal fade" id="signupModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
aria-labelledby="logInModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
   <div class="modal-content">
       <div class="modal-header">
           <h5 class="modal-title" id="signupModalLabel">회원가입</h5>
           <button id="signup_close" type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">x</span>
           </button>
       </div>
       <div class="modal-body">
           <div class="input-box">
               <label>닉네임</label>
               <input type="text" id="signup_nickname">
               <p id="can-using">사용해도 되는 닉네임 입니다.</p>
               <p id="cant-using">이미 사용중인 닉네임 입니다.</p>
               <button type="button" onclick="nickname_check()">중복확인</button>
           </div>
           <div class="input-box">
               <label>비밀번호</label>
               <input type="password" id="signup_password" placeholder="비밀번호를 입력해주세요.">
               <p>영어 또는 숫자로 6글자 이상으로 작성해주세요</p>
               <button type="button" id="signup_password_eye">비밀번호 보기</button>
           </div>
       </div>
       <div class="modal-footer">
           <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="sign_up()">가입완료</button>
       </div>
   </div>
</div>
</div>

    <script src="../static/js/main.js"></script>

    <!-- Template modal passward js File -->
    <script src="../static/js/modal.js"></script>

</body>
</html>
