<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <title>스파르타코딩클럽 | 부트스트랩 연습하기</title>

    <style>

    </style>
     <script type="text/javascript">

            $(document).ready(function () {
                showReview();
            });

            function makeReview() {
                let name = $('#name').val()
                let age = $('#age').val()
                let gender = $('#gender').val()



                $.ajax({
                    type: "POST",
                    url: "/review",
                    data: {name_give:name,age_give:age,gender_give:gender},
                    success: function (response) {
                        alert(response["msg"]);
                        window.location.reload();
                    }
                })
            }
              function check_dup() {
                  let name = $('#name').val()
                   $.ajax({
                    type: "POST",
                    url: "/sign_up/check_dup",
                    data: {
                        name_give: name
                    },
                    success: function (response) {

                        if (response["exists"]) {
                            $("#help-id").text("이미 존재하는 아이디입니다.").removeClass("is-safe").addClass("is-danger")
                            $("#name").focus()
                        } else {
                            $("#help-id").text("사용할 수 있는 아이디입니다.").removeClass("is-danger").addClass("is-success")
                        }
                        $("#help-id").removeClass("is-loading")

                    }
                });
            }


            // function showReview() {
            //     $.ajax({
            //         type: "GET",
            //         url: "/review",
            //         data: {},
            //         success: function (response) {
            //             let reviews = response['all_reviews']
            //             for(i = 0; i< reviews.length; i ++)
            //
            //         }
            //     })
            // }
        </script>


</head>

<body>
<button type="button" class="btn btn-Secondary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">사용자정보적기</button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">내정보</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label  class="col-form-label">닉네임</label>
              <button type="button"  class="button is-sparta" onclick="check_dup()">중복확인</button>
            <input type="text" class="form-control" id="name">
               <p id="help-id" class="help is-hidden">닉네임은 자유형식*꼭 중복확인을 해주세요!*</p>
          </div>
             <div class="form-group">
            <label class="col-form-label"> 나이 </label>
            <input type="text" class="form-control" id="age">
          </div>
             <div class="form-group">
            <label  class="col-form-label"> 성별 </label>
            <input type="text" class="form-control" id="gender">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button onclick="makeReview()" type="button" class="btn btn-secondary" data-dismiss="modal">정보저장</button>

      </div>
    </div>
  </div>
</div>


</body>
</html>