<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- Vendor CSS Files -->
    <link href="../static/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/main_page.css" rel="stylesheet">
    <link href="../static/css/team_page.css" rel="stylesheet">

    <script defer src="../static/js/modal.js"></script>
    <script defer src="../static/js/start_page.js"></script>
    <script defer src="../static/js/team_page.js"></script>

    <title>삐빅! 출석했습니다</title>

</head>
<body>
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="/">BBICHUL</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="/">Home</a></li>
                <li><a class="nav-link scrollto" href="/main">main</a></li>
                <li><a href="/calender">Schedule</a></li>
                <li><a class="nav-link scrollto" href="/my-page">My Page</a></li>
                <li><a id="login-button" class="getstarted scrollto" href="#" data-toggle="modal"
                       data-target="#loginModal">Log In</a>
                </li>
                <li><a id="logout-button" onclick="log_out()" class="getstarted scrollto" href="#" data-toggle="modal"
                       data-target="#loginModal">Log Out</a>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>

</header><!-- End Header -->

<div id="team-page">
    <div id="record-container">
        <div class="not-exist">
            <h1 id="team-alert"></h1>
            <a id="team-check-btn" onclick="hide_teamname()" href="#" data-toggle="modal"
                    data-target="#create-teamModal">팀 만들기
            </a>
        </div>
        <div class="team-exist">
            <h1 id="team"></h1>
            <div class="left-body">
                <div id="team-member-status">
                    <h3>실시간 출석 현황</h3>
                    <table class="table">
                        <thead id="status-thead">
                        <tr>
                            <th style="border-right: 1px solid;">팀원명</th>
                            <th>출결 현황</th>
                        </tr>
                        </thead>
                        <tbody id="status-table">

                        </tbody>
                    </table>
                </div>
                <div class="progress-div">
                <h3 class="progress-title">체크 리스트 진행상황</h3>
                <div class="progress-outer">
                    <div class="progress">
                        <div id="percent-bar" class="progress-bar progress-bar-striped progress-bar-danger" style="width:10%;"></div>
                        <div class="progress-value"></div>
                    </div>
                </div>
                </div>
            </div>
            <div class="right-body">
                <div class="todo-list">
                    <input type="text" placeholder="Add A Task" onkeyup="findteam()" class="txt">
                    <div class="notdone">
                        <h3>To Do List</h3>
                    </div>
                    <div class="done">
                        <h3>Done</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- create team Modal -->
<div class="modal fade" id="create-teamModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
     aria-labelledby="create-teamModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="create-teamModalLabel">팀 만들기</h5>
                <button id="create-team-close" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-box">
                    <label>팀 이름</label>
                    <input type="text" id="team-name">
                    <p id="can-using">사용해도 되는 팀 이름입니다.</p>
                    <p id="cant-using">이미 사용중인 팀 이름입니다.</p>
                    <p id="double-check">특수문자는 포함할 수 없습니다.</p>
                    <button id="name-check" type="button" onclick="teamname_check()">중복확인</button>
                    <input type="hidden" name="checked-team" value="">
                    <label>초대받은 팀이 있는 경우 입력해주세요</label>
                    <input type="text" id="invite-name">
                    <button id="invite-team" type="button" onclick="invite_team()">팀 가입하기</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="create-team" data-toggle="modal" data-target="#exampleModal"
                        onclick="create_team()">팀 만들기
                </button>
            </div>
        </div>
    </div>
</div>


</body>
</html>